<a href="https://colab.research.google.com/github/kay31105/-/blob/main/%E8%82%A1%E7%A5%A8%E8%B3%87%E6%96%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas
!pip install tensorflow
!pip install pandas-datareader
!pip install yfinance
!apt install graphviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.8/dist-packages (2.9.2)
Requirement already satisfied: tensorboard<2.10,>=2.9 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (2.9.1)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from tensorflow) (21.3)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers<2,>=1.12 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.51.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (2.1.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: tensorflow-estimator<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (3.19.6)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (14.0.6)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (0.29.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (1.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (4.4.0)
Requirement already satisfied: keras<2.10.0,>=2.9.0rc0 in /usr/local/lib/python3.8/dist-packages (from tensorflow) (2.9.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.8/dist-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.25.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (2.15.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from tensorboard<2.10,>=2.9->tensorflow) (0.6.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.8/dist-packages (from markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (5.2.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.21.0->tensorboard<2.10,>=2.9->tensorflow) (4.0.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.10,>=2.9->tensorflow) (3.11.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.10,>=2.9->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.10,>=2.9->tensorflow) (3.2.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.8/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 5.3 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 9.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 11.8 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 11.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 13.9 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 61.5 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.3
Reading package lists... Done
Building dependency tree
Reading state information... Done
graphviz is already the newest version (2.40.1-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 20 not upgraded.

In [3]:
import pandas as pd
from pandas_datareader import data
import yfinance as yf
import matplotlib.pyplot as plt
yf.pdr_override()
import numpy as np
from scipy import stats
import csv

In [4]:
df=pd.DataFrame()

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

股票代碼處理

In [7]:
all_close_price = {}
start_date = '2021-11-30'
end_date = '2022-11-30'
with open('drive/MyDrive/CSVDATA/aa.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  all_stock = csv.DictReader(csvfile)  # 讀取 CSV 檔內容，將每一列轉成一個 dictionary
  for stock in all_stock:
   str_stk_no = str(stock['stk_no']) + ".TW"  # 格式轉換(1234->1234.TW)
   all_close_price[stock['stk_no']] = yf.download(str_stk_no,start=start_date,end=end_date)['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- 3105.TW: No timezone found, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

回歸資料處理

現金股利率(dy)

In [ ]:
dy={}
with open('drive/MyDrive/CSVDATA/dy.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  dy = csv.DictReader(csvfile)
  dy_df = pd.DataFrame(dy)
for column in dy_df:
  dy_df[column] = pd.to_numeric(dy_df[column],errors='coerce')
dy_df=dy_df.drop(index=0)
dy_df

In [ ]:
dym=dy_df.mean()
dym

In [ ]:
from google.colab import files
dym.to_csv('./dym.csv',index=False)
files.download('dym.csv')

EPS

In [ ]:
eps={}
with open('drive/MyDrive/CSVDATA/eps.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  eps = csv.DictReader(csvfile)
  eps_df = pd.DataFrame(eps)
for column in eps_df:
  eps_df[column] = pd.to_numeric(eps_df[column],errors='coerce')
eps_df=eps_df.drop(index=0)
eps_df

,,1101 xd,1102 Ȫd,1103 Ūd,1104 d,1108,1109 Hj,1110 Fd,1201,1203,...,9919 d,9921 j,9924 ֿ,9925 sO,9926 s,9927,9928,9929 B,9930 p귽,9931 Y
1,NaN,NaN,4.37,0.40,1.67,0.61,2.41,0.21,1.14,1.89,...,0.51,15.84,3.68,2.50,2.47,4.91,-0.19,0.23,2.83,2.12
2,NaN,NaN,4.26,0.56,1.80,0.63,1.90,0.25,1.16,1.96,...,0.24,16.23,3.44,2.52,2.47,5.12,-0.19,-0.85,2.79,1.96
3,NaN,NaN,4.03,0.72,1.85,0.75,1.42,0.19,1.23,1.92,...,-0.56,16.09,4.24,3.00,2.62,5.09,0.11,-0.77,2.98,2.14
4,NaN,NaN,4.01,-0.17,2.45,1.00,1.76,0.20,1.25,2.26,...,-0.76,17.73,4.96,2.58,2.68,4.60,0.05,-0.67,3.20,2.13

In [ ]:
epsm=dy_df.mean()
epsm

                NaN
1101 xd    4.003956
1102 Ȫd    7.026953
1103 Ūd    4.951083
1104 d     4.834933
             ...
9927       8.852880
9928       0.000000
9929 B     1.080725
9930 p귽    5.160403
9931 Y     3.457625
Length: 1753, dtype: float64

In [ ]:
from google.colab import files
epsm.to_csv('./epsm.csv',index=False)
files.download('epsm.csv')

本益比(per)

In [ ]:
per={}
with open('drive/MyDrive/CSVDATA/per.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  per = csv.DictReader(csvfile)
  per_df = pd.DataFrame(per)
for column in per_df:
  per_df[column] = pd.to_numeric(per_df[column],errors='coerce')
per_df=per_df.drop(index=0)
per_df

,,1101 xd,1102 Ȫd,1103 Ūd,1104 d,1108,1109 Hj,1110 Fd,1201,1203,...,9919 d,9921 j,9924 ֿ,9925 sO,9926 s,9927,9928,9929 B,9930 p귽,9931 Y
1,NaN,14.0776,9.5918,9.3692,11.6928,21.2003,7.4197,104.4542,17.5470,18.5063,...,19.6796,18.8021,11.0144,16.6504,20.6265,9.5435,NaN,28.5147,15.4569,22.0294
2,NaN,14.3507,9.7489,9.5534,11.7472,21.2925,7.4382,105.5283,17.5470,18.2823,...,19.3377,19.9753,11.0010,16.6083,20.6903,8.7800,NaN,28.3030,15.4569,22.3358
3,NaN,14.3962,9.6367,9.4613,11.6928,21.8455,7.4012,108.4820,17.4284,18.1423,...,19.7176,19.8249,10.9742,16.5661,20.6691,8.5891,NaN,28.5147,15.4569,22.3358
4,NaN,14.5327,9.9284,9.4383,11.7472,21.5690,7.4752,107.4079,17.3099,18.0583,...,19.6036,20.6672,11.0278,16.5240,20.8392,8.5554,NaN,28.7566,15.6125,22.2801
5,NaN,14.5631,9.9396,9.5534,11.7472,21.9377,7.6973,108.7505,17.5865,18.2263,...,19.8695,20.7575,11.1352,16.5872,20.9668,8.5779,NaN,28.6961,15.6817,22.3079
6,NaN,14.3967,9.7933,9.3692,11.7472,21.4768,7.4752,106.8709,17.4284,18.3943,...,23.7447,20.3062,11.1352,16.5240,20.9455,8.5218,NaN,29.2706,15.5952,22.1130
7,NaN,14.4422,9.8572,9.3462,11.7200,20.9238,7.4012,106.6023,17.3494,18.4783,...,22.8329,20.4567,11.1352,16.5450,20.7116,8.6340,NaN,28.4844,15.5952,22.1408
8,NaN,14.3815,9.8351,9.2541,11.7744,20.8316,7.3457,105.7968,17.3099,18.3663,...,22.0730,19.0728,11.0815,16.5240,20.7116,8.5330,NaN,28.4240,15.5779,22.2801
9,NaN,14.2146,9.7688,9.1620,11.5840,20.5551,7.3642,102.3060,16.9147,18.6183,...,21.2752,19.0427,11.1352,16.5661,20.6265,8.3758,NaN,28.4542,15.5088,22.0851
10,NaN,14.4270,10.0561,9.3002,11.6112,21.2925,7.4382,103.6486,17.3099,18.3663,...,20.4014,18.5915,11.4035,16.6294,20.6903,8.5667,NaN,28.3635,15.6125,22.2522
11,NaN,14.3967,10.1114,9.6915,11.8287,20.9238,7.4382,103.1116,17.3494,18.6743,...,19.3377,18.0199,11.4303,16.6504,20.8179,8.6453,NaN,28.7263,15.6817,21.9180
12,NaN,14.3663,9.9677,9.6224,11.6384,20.5551,7.3272,102.0375,17.0727,18.7023,...,17.9320,17.4182,11.2962,16.5872,20.7541,8.5779,NaN,28.3333,15.9065,22.3079
13,NaN,14.4574,10.1666,9.5764,11.4752,20.7394,7.4382,107.1394,17.2703,18.7303,...,17.5900,17.5085,11.3364,16.6926,20.7329,9.0495,NaN,28.2123,16.4078,22.0573
14,NaN,14.3967,10.3213,9.3002,11.4208,21.2925,7.3457,107.1394,17.0332,18.3943,...,16.7922,16.6662,11.2693,16.5661,20.6053,8.8249,NaN,27.3051,16.3041,22.0016
15,NaN,14.8518,10.5865,9.6455,11.5568,21.7534,7.5122,110.0931,17.2703,18.5903,...,17.4761,16.6060,11.3230,16.7558,20.9668,8.9596,NaN,27.8192,16.3214,22.1687
16,NaN,15.0794,10.6639,9.5534,11.5840,21.9377,7.6047,118.1487,17.0332,18.5343,...,17.6660,16.3954,11.4974,16.7137,21.3070,10.4754,NaN,27.4261,16.4251,22.1687
17,NaN,15.0945,10.6478,9.6224,11.6112,21.7534,7.9563,111.9727,16.8751,18.5623,...,20.0595,15.7336,11.7523,16.8401,21.5196,10.4754,NaN,27.3959,16.4943,22.2801
18,NaN,15.1097,10.6034,9.5073,11.5296,21.7534,7.8268,112.5098,16.8751,18.6743,...,20.1735,15.9141,11.5913,16.8401,21.5622,10.5090,NaN,27.3354,16.8228,22.6700
19,NaN,14.2905,10.4037,9.3232,11.3937,21.9377,7.7343,108.7505,17.7446,18.9822,...,18.3879,15.6132,11.1754,16.8823,21.3921,10.6325,NaN,26.8213,16.6326,22.1687
20,NaN,14.1236,10.5479,9.2541,11.2033,21.8455,7.6417,110.6301,17.6655,18.5903,...,18.7298,15.7035,11.4572,16.8612,21.4771,10.7785,NaN,27.7889,16.5116,22.1130
21,NaN,13.9264,10.6710,9.1390,11.0402,21.5690,7.5307,106.3338,17.7841,18.5623,...,18.0459,14.9514,11.1620,16.8612,21.4771,10.3631,NaN,27.3354,16.3560,22.1965
22,NaN,13.6837,10.4713,9.0009,10.8226,21.2003,7.4382,109.8246,17.5075,18.4783,...,17.7040,14.6205,11.1620,16.7558,21.3070,10.6662,NaN,27.1539,16.5116,22.1687
23,NaN,12.6218,9.9944,8.1952,11.2305,20.1864,7.2162,107.9449,16.3614,18.3103,...,15.6905,14.0489,11.0547,16.3764,21.3921,9.5435,NaN,25.9444,16.0448,22.2801
24,NaN,12.4852,9.7614,8.2873,11.5024,20.5551,7.2532,109.0190,16.3219,18.3663,...,16.1084,14.3798,11.0010,16.4397,21.5196,10.0712,NaN,26.3375,16.2522,22.8371
25,NaN,12.8038,10.0276,8.6096,11.6384,20.5551,7.4012,109.5561,16.4799,18.7023,...,15.8044,14.8612,11.0547,16.4397,21.6047,10.0487,NaN,26.4887,16.4770,23.3941
26,NaN,15.2963,10.4306,40.2543,12.0411,17.8015,10.5747,80.6027,18.1993,17.1208,...,85.8916,15.7157,12.0921,15.7867,20.5790,8.7448,NaN,NaN,17.2534,20.8726
27,NaN,15.1862,10.3718,39.8249,12.2914,17.7217,10.5483,79.5951,17.9832,17.1723,...,85.6836,15.5616,12.2518,15.9068,20.6195,9.0282,NaN,NaN,17.0920,20.5672
28,NaN,14.5260,10.2074,38.8588,12.0967,17.4822,10.4428,76.7740,17.5509,17.5591,...,82.9800,14.8529,11.4534,15.8467,20.3765,8.4810,NaN,NaN,16.8409,20.6436
29,NaN,14.4893,10.2426,39.5029,12.2357,17.2427,10.5483,80.6027,17.6374,17.5591,...,77.3648,15.7157,11.3083,15.9868,21.0651,8.2074,NaN,NaN,17.1458,20.8726
30,NaN,14.8011,10.3836,38.5368,12.0689,16.7638,10.3901,77.9831,17.4645,17.1723,...,68.6301,13.6203,11.1341,15.8467,21.3487,7.8361,NaN,NaN,16.8947,20.9236
31,NaN,14.9661,10.3014,38.3221,12.3470,17.0033,10.3901,75.9680,17.5941,17.0950,...,73.4134,14.0517,11.1631,15.9668,21.5512,7.7971,NaN,NaN,16.9664,20.3126
32,NaN,14.8561,10.1017,38.2148,12.4582,16.7638,10.2582,71.3334,17.5941,16.9661,...,70.5018,13.7435,11.2357,15.8868,20.9841,7.6407,NaN,NaN,16.2131,20.3636
33,NaN,15.2099,10.5363,38.4294,12.4026,16.9234,10.4956,73.5499,17.7238,17.0176,...,70.2938,15.0994,11.3808,16.0868,21.1056,7.7775,NaN,NaN,16.2670,20.2363
34,NaN,15.6335,9.7375,39.1809,12.1801,17.2427,10.4692,72.5424,17.5509,17.1981,...,68.2141,15.0378,11.6712,15.6467,21.1867,8.0022,NaN,NaN,16.7333,20.3126
35,NaN,15.6738,9.6201,37.6780,12.0133,17.1629,9.5726,72.3409,17.0754,17.2497,...,68.6301,15.2843,11.7292,15.6867,21.2677,7.8948,NaN,NaN,16.6077,20.2872
36,NaN,15.8554,9.8550,38.1074,12.0133,17.7217,9.3880,72.5424,17.2051,17.0692,...,70.9177,16.3012,12.0921,15.8467,21.1867,8.3735,NaN,NaN,16.8229,20.2108
37,NaN,15.9143,10.0077,38.0001,12.2357,18.4401,9.3352,72.5424,17.2483,17.1981,...,74.2452,15.5616,12.1357,15.8667,21.0651,8.4029,NaN,NaN,16.9305,20.2363
38,NaN,15.9950,10.0547,38.7515,12.2079,17.8015,9.4935,75.7665,17.5941,17.2755,...,76.7409,15.5000,12.2518,15.9268,21.4702,8.3931,NaN,NaN,16.9485,20.3126
39,NaN,15.5311,9.9372,38.5368,12.2357,17.1629,9.2608,74.3560,17.4645,16.6566,...,79.0286,14.1133,12.3099,16.0068,20.8221,8.3638,NaN,NaN,17.0382,19.8799
40,NaN,16.0757,10.3483,38.3221,12.0689,16.9234,9.1556,73.9529,17.4645,16.6566,...,76.3249,14.0517,12.7744,16.0068,21.1867,6.8786,NaN,NaN,16.9305,20.0326
41,NaN,15.5714,10.3836,38.2148,12.2079,17.0831,9.1293,74.7590,17.2915,16.6566,...,76.9489,14.3290,12.4841,15.9068,21.1867,6.9861,NaN,NaN,16.9126,19.7017
42,NaN,14.9260,9.9490,38.2148,11.9020,16.9234,8.5768,73.9529,17.1619,16.5019,...,74.8692,13.2197,12.3389,15.7667,20.9436,6.8786,NaN,NaN,16.8050,19.7017
43,NaN,13.6351,9.2560,36.2825,11.4015,16.4445,7.8927,70.9303,16.9457,15.9605,...,66.3424,12.6650,12.0341,15.6066,20.7411,6.7418,NaN,NaN,16.2131,19.6254
44,NaN,23.3473,9.9305,28.2794,11.0543,13.8441,10.9615,95.4696,15.8176,16.6886,...,NaN,12.6774,9.6939,13.0784,19.4708,6.8927,233.2292,NaN,15.1645,18.0098
45,NaN,22.0862,9.5457,26.9526,10.8111,13.5766,10.8564,93.8469,15.1670,16.8461,...,NaN,12.9260,9.5290,13.0112,19.4708,6.7061,203.9575,NaN,15.0639,17.9630
46,NaN,21.1318,9.3098,26.7038,10.8381,13.5097,10.2611,91.1424,14.6384,16.6886,...,NaN,12.7396,9.3523,12.9103,19.2035,6.6865,170.4368,NaN,14.9131,17.9630
47,NaN,20.7910,9.2105,26.3720,10.7841,13.7103,10.6463,96.0105,14.8823,17.2397,...,NaN,12.7396,9.4466,12.9439,19.6998,6.7749,148.2469,NaN,14.9802,18.6647
48,NaN,20.7569,9.2974,26.7038,10.8651,13.7772,10.6113,96.2809,14.9230,16.8986,...,NaN,13.4469,9.5054,12.9439,19.6617,7.1185,186.4890,NaN,15.0639,18.2437
49,NaN,21.9157,9.6946,27.4501,11.3246,14.5129,10.6813,98.9855,15.2483,17.3971,...,NaN,15.1359,9.7646,13.1961,19.5471,7.2069,187.9053,NaN,15.2483,18.6413
50,NaN,22.6997,10.2408,28.4453,11.6219,14.3122,10.8914,97.0923,15.2483,17.4758,...,NaN,15.2333,9.7057,13.0616,19.6235,7.2069,203.0134,NaN,15.2483,18.2203
51,NaN,22.8701,10.1663,28.7770,11.6489,14.3122,11.1016,96.2809,15.5736,17.9482,...,NaN,15.5581,9.7999,13.2129,19.8525,7.2560,213.8722,NaN,15.3488,18.3373

In [ ]:
perm=per_df.mean()

In [ ]:
perm

                  NaN
1101 xd     15.788447
1102 Ȫd     10.043567
1103 Ūd     22.452012
1104 d      11.684231
              ...
9927         8.481855
9928       193.393788
9929 B      27.848220
9930 p귽     16.163737
9931 Y      20.941700
Length: 1753, dtype: float64

In [ ]:
from google.colab import files
perm.to_csv('./perm.csv',index=False)
files.download('perm.csv')

beta跟all_stock_price改INT

In [ ]:
beta={}
with open('drive/MyDrive/CSVDATA/BETA.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  beta = csv.DictReader(csvfile)
  beta_df = pd.DataFrame(beta)
for column in beta_df:
  beta_df[column] = pd.to_numeric(beta_df[column],errors='coerce')
beta_df=beta_df.drop(index=0)
beta_df

,stk_no,1101,1102,1103,1104,1108,1109,1110,1201,1203,...,9919,9921,9924,9925,9926,9927,9928,9929,9930,9931
1,NaN,0.4835,0.1836,0.7582,0.5150,0.4797,0.6702,1.1170,-0.0176,0.0274,...,-2.9337,-0.0099,0.3962,0.1397,0.4103,0.0686,0.0481,0.4517,0.1301,0.3746
2,NaN,0.4267,0.2165,0.6151,0.4255,0.4329,0.5730,0.9466,-0.0550,0.0746,...,-2.5584,0.1886,0.3587,0.0478,0.2990,0.0249,-0.0222,0.4194,0.1112,0.2889
3,NaN,0.4055,0.1733,0.6082,0.3824,0.3966,0.5333,1.0133,-0.0682,0.0741,...,-2.4436,0.2475,0.3366,0.0095,0.2842,0.0142,-0.0458,0.3874,0.0909,0.2743
4,NaN,0.3989,0.0549,0.6908,0.5705,0.3171,0.7403,1.2682,0.0664,0.0645,...,-2.8161,-0.0181,0.3348,0.0983,0.3054,0.2125,-0.1970,0.4197,0.1939,0.2282
5,NaN,0.4251,0.0793,0.6485,0.5438,0.2688,0.7112,1.2668,0.0386,0.0516,...,-2.7816,-0.0229,0.3100,0.1156,0.2938,0.2237,-0.2158,0.3458,0.1923,0.2202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,NaN,0.7222,0.3859,0.4998,0.2314,0.6869,0.2876,0.2369,0.1908,0.2740,...,0.7441,1.3749,0.3107,0.2377,-0.0564,0.0181,0.2374,0.6227,0.1967,0.0030
243,NaN,0.6108,0.3787,0.5833,0.2113,0.7050,0.2232,0.2148,0.2571,0.4340,...,0.9439,1.4451,0.2934,0.2729,0.1605,0.0100,-0.7352,0.4073,0.2007,0.1697
244,NaN,0.6168,0.4586,0.5553,0.0741,0.5805,0.2588,0.2358,0.1672,0.4272,...,0.9046,1.3618,0.2497,0.1764,0.0836,-0.0477,0.2286,0.3714,0.1647,0.2605
245,NaN,0.6301,0.4700,0.5625,0.0742,0.5803,0.2555,0.2384,0.1636,0.4468,...,0.9667,1.3224,0.2459,0.1689,0.0827,-0.0519,0.1812,0.3737,0.1553,0.2752
246,NaN,0.6343,0.4685,0.5831,0.0668,0.5864,0.2663,0.2586,0.1675,0.4517,...,0.9326,1.2953,0.2449,0.1720,0.0814,-0.0437,0.2390,0.3850,0.1703,0.2871

In [ ]:
all_stock_price={}
with open('drive/MyDrive/CSVDATA/all_stock_price.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  all_stock_price = csv.DictReader(csvfile)
  df1 = pd.DataFrame(all_stock_price)
  df1 = df1.drop(index=0)

In [ ]:
for column in df0:
  df1[column] = pd.to_numeric(df1[column],errors='coerce')
df1

,stk_no,1101,1102,1103,1104,1108,1109,1110,1201,1203,...,9919,9921,9924,9925,9926,9927,9928,9929,9930,9931
1,NaN,40.8140,38.7874,19.9965,20.0604,10.8203,18.4786,19.4347,21.7479,31.9083,...,24.4153,296.8632,38.5261,37.7919,46.6801,35.6938,15.0341,9.38,42.1130,37.6715
2,NaN,41.3463,39.1106,19.8520,20.4903,10.9153,18.6172,19.5830,21.6504,31.6665,...,24.9066,294.9572,38.5732,37.6017,47.0651,35.6938,15.0341,9.40,42.2551,38.3960
3,NaN,41.0801,39.1568,19.6110,20.3470,10.8678,18.3862,19.4347,21.5529,31.9083,...,25.6434,302.1048,38.5261,37.2214,46.5358,35.6938,14.8853,9.38,42.1604,38.1545
4,NaN,41.1689,39.4801,19.6110,20.5380,10.9153,18.5248,19.2368,21.6504,31.9566,...,25.4469,297.8162,38.6674,37.5542,46.6801,35.6938,14.8853,9.43,42.3499,38.2028
5,NaN,41.9674,39.8495,19.7556,20.4903,10.9153,18.5248,19.4841,21.6992,31.8116,...,25.2504,301.6283,38.6674,37.3165,46.7764,34.6229,15.2574,9.52,42.1604,38.2028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,NaN,33.2000,41.1000,17.4500,21.5500,10.5500,15.5500,17.8500,19.2500,34.2000,...,17.2000,242.0000,41.6500,39.2500,52.0000,36.9000,20.6000,8.64,45.9000,39.2000
244,NaN,33.5500,40.9500,17.3500,21.5500,10.7000,15.8500,17.8000,19.1500,34.2000,...,16.8000,239.5000,41.6000,39.3000,52.0000,36.9500,22.6500,8.49,45.8000,39.2000
245,NaN,33.0000,40.4500,17.2000,21.8000,10.7500,15.6500,17.7000,19.1000,33.6000,...,16.7000,235.0000,41.6500,39.4500,52.0000,37.0000,21.4000,8.48,45.6000,38.4000
246,NaN,33.5500,41.0500,17.4000,21.9000,10.8000,15.6500,17.7500,19.1000,34.2000,...,17.6500,231.0000,41.6500,39.3000,52.0000,37.0000,21.0000,8.50,45.3500,38.8000
247,NaN,33.9000,41.3000,17.7500,21.9000,10.9000,15.8000,18.0000,19.2000,34.4500,...,17.5000,230.0000,41.7500,39.4500,52.0000,37.3000,22.1000,8.57,45.8500,39.1000

In [ ]:
df1

,,1101 xd,1102 Ȫd,1103 Ūd,1104 d,1108,1109 Hj,1110 Fd,1201,1203,...,9919 d,9921 j,9924 ֿ,9925 sO,9926 s,9927,9928,9929 B,9930 p귽,9931 Y
1,2021/11/30,40.814,38.7874,19.9965,20.0604,10.8203,18.4786,19.4347,21.7479,31.9083,...,24.4153,296.8632,38.5261,37.7919,46.6801,35.6938,15.0341,9.38,42.113,37.6715
2,2021/12/1,41.3463,39.1106,19.852,20.4903,10.9153,18.6172,19.583,21.6504,31.6665,...,24.9066,294.9572,38.5732,37.6017,47.0651,35.6938,15.0341,9.4,42.2551,38.396
3,2021/12/2,41.0801,39.1568,19.611,20.347,10.8678,18.3862,19.4347,21.5529,31.9083,...,25.6434,302.1048,38.5261,37.2214,46.5358,35.6938,14.8853,9.38,42.1604,38.1545
4,2021/12/3,41.1689,39.4801,19.611,20.538,10.9153,18.5248,19.2368,21.6504,31.9566,...,25.4469,297.8162,38.6674,37.5542,46.6801,35.6938,14.8853,9.43,42.3499,38.2028
5,2021/12/6,41.9674,39.8495,19.7556,20.4903,10.9153,18.5248,19.4841,21.6992,31.8116,...,25.2504,301.6283,38.6674,37.3165,46.7764,34.6229,15.2574,9.52,42.1604,38.2028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2022/11/24,33.2,41.1,17.45,21.55,10.55,15.55,17.85,19.25,34.2,...,17.2,242,41.65,39.25,52,36.9,20.6,8.64,45.9,39.2
244,2022/11/25,33.55,40.95,17.35,21.55,10.7,15.85,17.8,19.15,34.2,...,16.8,239.5,41.6,39.3,52,36.95,22.65,8.49,45.8,39.2
245,2022/11/28,33,40.45,17.2,21.8,10.75,15.65,17.7,19.1,33.6,...,16.7,235,41.65,39.45,52,37,21.4,8.48,45.6,38.4
246,2022/11/29,33.55,41.05,17.4,21.9,10.8,15.65,17.75,19.1,34.2,...,17.65,231,41.65,39.3,52,37,21,8.5,45.35,38.8
247,2022/11/30,33.9,41.3,17.75,21.9,10.9,15.8,18,19.2,34.45,...,17.5,230,41.75,39.45,52,37.3,22.1,8.57,45.85,39.1

In [ ]:
df1 = pd.DataFrame(all_close_price)
df1

,1101,1102,1216,1227,1301,1303,1314,1326,1402,1434,...,2892,2912,2915,3008,3034,3042,3045,3105,3231,3481
Date,,,,,,,,,,,,,,,,,,,,,
2021-11-30,41.820908,42.000000,65.400002,51.000000,102.500000,82.500000,12.70,78.099998,27.900000,28.900000,...,22.647058,269.0,100.000000,1990.0,465.5,105.500000,97.000000,NaN,28.600000,19.281767
2021-12-01,42.366398,42.349998,67.099998,51.200001,104.000000,83.500000,12.75,79.400002,28.299999,29.000000,...,23.137255,276.5,100.000000,2000.0,482.5,105.500000,98.300003,NaN,29.299999,19.558010
2021-12-02,42.093655,42.400002,67.699997,51.099998,103.500000,83.800003,12.55,79.699997,28.299999,28.900000,...,23.235294,277.5,97.099998,2015.0,486.0,103.500000,98.800003,NaN,29.150000,19.502762
2021-12-03,42.184570,42.750000,67.500000,51.400002,103.500000,83.599998,12.70,79.300003,28.299999,29.049999,...,23.284313,275.0,97.099998,1995.0,493.0,105.500000,98.300003,NaN,29.150000,19.889502
2021-12-06,43.002804,43.150002,67.300003,51.200001,104.000000,84.199997,12.65,79.699997,28.600000,28.950001,...,23.333332,276.5,96.500000,2030.0,505.0,102.000000,98.000000,NaN,29.299999,20.110497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-23,32.700001,40.750000,64.000000,39.950001,88.900002,76.300003,9.86,72.500000,31.049999,26.200001,...,25.450001,264.5,65.000000,2280.0,291.0,81.199997,92.000000,NaN,27.500000,12.400000
2022-11-24,33.200001,41.099998,65.300003,40.450001,89.699997,77.099998,9.89,73.800003,31.799999,26.400000,...,25.600000,265.0,66.800003,2325.0,302.0,82.500000,93.300003,NaN,27.350000,12.450000
2022-11-25,33.549999,40.950001,65.699997,40.549999,89.900002,77.099998,9.91,74.000000,31.549999,26.350000,...,25.900000,265.0,66.000000,2260.0,294.5,81.599998,94.099998,NaN,27.250000,12.500000
2022-11-28,33.000000,40.450001,65.300003,40.099998,89.099998,76.000000,9.97,73.400002,31.750000,26.400000,...,25.850000,264.5,66.099998,2275.0,291.5,82.199997,93.000000,NaN,27.100000,12.250000
2022-11-29,33.549999,41.049999,65.800003,40.400002,88.900002,76.699997,10.25,74.000000,32.150002,26.600000,...,26.200001,268.5,66.099998,2270.0,293.0,82.099998,94.000000,NaN,27.650000,12.350000

對數收益率

In [ ]:
lr=np.log(df1/df1.shift(1))

In [ ]:
lr.head()

,stk_no,1101,1102,1103,1104,1108,1109,1110,1201,1203,...,9919,9921,9924,9925,9926,9927,9928,9929,9930,9931
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.012958,0.008298,-0.007253,0.021204,0.008741,0.007473,0.007602,-0.004493,-0.007607,...,0.019923,-0.006441,0.001222,-0.005046,0.008214,0.000000,0.000000,0.002130,0.003369,0.019049
3,NaN,-0.006459,0.001181,-0.012214,-0.007018,-0.004361,-0.012486,-0.007602,-0.004514,0.007607,...,0.029153,0.023944,-0.001222,-0.010165,-0.011310,0.000000,-0.009947,-0.002130,-0.002244,-0.006310
4,NaN,0.002159,0.008223,0.000000,0.009343,0.004361,0.007510,-0.010235,0.004514,0.001513,...,-0.007692,-0.014297,0.003661,0.008901,0.003096,0.000000,0.000000,0.005316,0.004485,0.001265
5,NaN,0.019210,0.009313,0.007346,-0.002325,0.000000,0.000000,0.012774,0.002251,-0.004548,...,-0.007752,0.012719,0.000000,-0.006350,0.002061,-0.030462,0.024690,0.009499,-0.004485,0.000000

年化波動計算

In [ ]:
lrs=lr.std()

In [ ]:
v=lrs*250*0.05

In [ ]:
v

stk_no         NaN
1101      0.150810
1102      0.128489
1103      0.134292
1104      0.105792
            ...
9927      0.184890
9928      0.500044
9929      0.224390
9930      0.075682
9931      0.106386
Length: 1759, dtype: float64

In [ ]:
 v.to_csv('./v.csv',index=False)

波動率下載

In [ ]:
from google.colab import files
v.to_csv('./v.csv')
files.download('v.csv')

全年加總log_return 全年收益

In [ ]:
slr=np.cumsum(lr)

In [ ]:
slr

,stk_no,1101,1102,1103,1104,1108,1109,1110,1201,1203,...,9919,9921,9924,9925,9926,9927,9928,9929,9930,9931
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.012958,0.008298,-0.007253,0.021204,0.008741,0.007473,7.601715e-03,-0.004493,-7.606824e-03,...,0.019923,-0.006441,1.221801e-03,-0.005046,8.213800e-03,0.000000,0.000000,2.129926e-03,0.003369,0.019049
3,NaN,0.006499,0.009479,-0.019467,0.014186,0.004380,-0.005013,-4.076600e-17,-0.009007,-7.285839e-17,...,0.049076,0.017503,-1.272853e-16,-0.015211,-3.096041e-03,0.000000,-0.009947,-4.336809e-18,0.001125,0.012740
4,NaN,0.008658,0.017701,-0.019467,0.023529,0.008741,0.002497,-1.023502e-02,-0.004493,1.512568e-03,...,0.041384,0.003205,3.660934e-03,-0.006310,3.469447e-18,0.000000,-0.009947,5.316334e-03,0.005610,0.014005
5,NaN,0.027868,0.027014,-0.012120,0.021204,0.008741,0.002497,2.538620e-03,-0.002242,-3.035161e-03,...,0.033632,0.015924,3.660934e-03,-0.012659,2.060853e-03,-0.030462,0.014744,1.481509e-02,0.001125,0.014005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,NaN,-0.206475,0.057913,-0.136218,0.071628,-0.025298,-0.172553,-8.505662e-02,-0.122006,6.935948e-02,...,-0.350301,-0.204334,7.796543e-02,0.037857,1.079258e-01,0.033235,0.314970,-8.217718e-02,0.086109,0.039773
244,NaN,-0.195988,0.054256,-0.141965,0.071628,-0.011180,-0.153444,-8.786167e-02,-0.127214,6.935948e-02,...,-0.373831,-0.214718,7.676423e-02,0.039130,1.079258e-01,0.034589,0.409839,-9.969076e-02,0.083928,0.039773
245,NaN,-0.212518,0.041971,-0.150648,0.083162,-0.006518,-0.166142,-9.349549e-02,-0.129829,5.165990e-02,...,-0.379801,-0.233686,7.796543e-02,0.042939,1.079258e-01,0.035941,0.353070,-1.008693e-01,0.079551,0.019154
246,NaN,-0.195988,0.056695,-0.139087,0.087739,-0.001878,-0.166142,-9.067461e-02,-0.129829,6.935948e-02,...,-0.324474,-0.250854,7.796543e-02,0.039130,1.079258e-01,0.035941,0.334201,-9.851360e-02,0.074054,0.029516
247,NaN,-0.185610,0.062767,-0.119172,0.087739,0.007339,-0.156603,-7.668837e-02,-0.124607,7.664283e-02,...,-0.333009,-0.255192,8.036352e-02,0.042939,1.079258e-01,0.044016,0.385257,-9.031203e-02,0.085019,0.037219

In [ ]:
slrm=slr.mean()

下載

In [ ]:
slrm.to_csv('./slrm.csv',index=False)

In [ ]:
from google.colab import files
slrm.to_csv('./slrm.csv')
files.download('slrm.csv')

sharpe ratio

In [ ]:
rfr=0

In [ ]:
sharpe_ratio=(lr.mean()-rfr)/lr.std()

In [ ]:
sharpe_ratio

stk_no         NaN
1101     -0.062538
1102      0.024822
1103     -0.045092
1104      0.042142
            ...
9927      0.012097
9928      0.039149
9929     -0.020451
9930      0.057081
9931      0.017777
Length: 1759, dtype: float64

年化 sharpe ratio

In [ ]:
asr = sharpe_ratio*250**0.5

In [ ]:
asr

stk_no         NaN
1101     -0.988816
1102      0.392474
1103     -0.712963
1104      0.666322
            ...
9927      0.191269
9928      0.618994
9929     -0.323360
9930      0.902536
9931      0.281075
Length: 1759, dtype: float64

In [ ]:
asr.to_csv('./table.csv',index=False)

In [ ]:
from google.colab import files
asr.to_csv('./asr.csv')
files.download('asr.csv')

Treynor Ratio

In [ ]:
TR=(lr-rfr)/beta_df

In [ ]:
TRM=TR.mean()

In [ ]:
TRM.to_csv('./table.csv',index=False)

In [ ]:
from google.colab import files
TRM.to_csv('./TRM.csv')
files.download('TRM.csv')

按照產業比較

In [ ]:
esg={}
with open('drive/MyDrive/CSVDATA/esg.csv', newline='', encoding="utf-8", errors='ignore') as csvfile:
  esg = csv.DictReader(csvfile)
  esg_df = pd.DataFrame(esg)
for column in esg_df:
  esg_df[column] = pd.to_numeric(esg_df[column],errors='coerce')
esg_df